{% extends 'base.html.twig' %}

{% block title %}Sign Up{% endblock %}

{% block body %}
<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
   </head>
 <div class="container py-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="text-center mb-4">Sign up</h2>
             {{ form_start(registrationForm) }}
            <div class="form-group">
                {{ form_label(registrationForm.username, 'Username') }}
                {{ form_widget(registrationForm.username, { 'attr': {'class': 'form-control', 'placeholder': 'Username'} }) }}
            </div>
            <div class="form-group">
                {{ form_label(registrationForm.plainPassword, 'Password') }}
                {{ form_widget(registrationForm.plainPassword, { 'attr': {'class': 'form-control', 'placeholder': 'Password'} }) }}
            </div>
            <button type="submit" class="btn btn-primary col-md-4 offset-md-4">Sign up</button>
            {{ form_end(registrationForm) }} 
            <br><br>
            
            <p>Already have an account? <a href="{{ path('app_login') }}">Sign in here</a></p>
        </div>
    </div>
</div> 
{# {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}  #}

{% endblock %}

