{% extends 'base.html.twig' %} 

{% block title %}Product | {{ parent() }}{% endblock %}

{% block body %}
    
<div class="container">
    <h1>Products</h1>

    <div class="row">
        {% for product in products %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ product.imagePath }}" class="card-img-top" alt="{{ product.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if page > 1 %}
                <li class="page-item">
                    <a class="page-link" href="{{ path('product', { 'page': page - 1 }) }}">Previous</a>
                </li>
            {% endif %}
            {% for pageNum in 1..totalPages %}
                <li class="page-item{% if pageNum == page %} active{% endif %}">
                    <a class="page-link" href="{{ path('product', { 'page': pageNum }) }}">{{ pageNum }}</a>
                </li>
            {% endfor %}
            {% if page < totalPages %}
                <li class="page-item">
                    <a class="page-link" href="{{ path('product', { 'page': page + 1 }) }}">Next</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>

{% endblock %}


